packages: [
  "atom-beautify"
  "atom-bootstrap3"
  "atom-bootstrap4"
  "atom-bracket-highlight"
  "atom-clock"
  "atom-ide-ui"
  "atom-live-server"
  "atom-runner"
  "atom-sublime-monokai-syntax"
  "atom-typing-speedometer"
  "atom-yii"
  "atom-yii2"
  "autoclose-html"
  "autocomplete"
  "autocomplete-font-awesome"
  "bombe"
  "city-lights-icons"
  "color-picker"
  "compare-files"
  "duplicate-removal"
  "file-header"
  "git-log"
  "gl-dark-syntax"
  "glacier-dark-ui"
  "hey-pane"
  "highlight-selected"
  "ide-php"
  "jQuery"
  "jquery-snippets"
  "line-diff-details-plus"
  "minimap"
  "minimap-bookmarks"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "open-in-browser"
  "package-sync"
  "php-cs-fixer"
  "platformio-ide-terminal"
  "project-manager"
  "remember-folds"
  "split-diff"
  "todo-show"
  "tool-bar"
  "toolbar-iconshortcuts"
]
